<a href="https://colab.research.google.com/github/BS-Varun/Student-grade-predictor/blob/main/Copy_of_dpassi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q sklearn
from __future__ import absolute_import, division, print_function, unicode_literals
import sklearn
import io
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib
import tensorflow.compat.v2.feature_column as fc
import tensorflow as tf
from google.colab import files

# Use the upload() function to upload a CSV file
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['aidataset.csv']))

print(df.info())

  Preparing metadata (setup.py) ... done
  Building wheel for sklearn (setup.py) ... done

Saving aidataset.csv to aidataset.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   DP score                     1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [ ]:
df.describe(include='all')

,Gender,race/ethnicity,parental level of education,lunch,test preparation course,DP score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [ ]:
df.describe()

         DP score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
status=pd.get_dummies(df['race/ethnicity'])
status.head()

   group A  group B  group C  group D  group E
0        0        1        0        0        0
1        0        0        1        0        0
2        0        1        0        0        0
3        1        0        0        0        0
4        0        0        1        0        0

In [ ]:
df.head()

,Gender,race/ethnicity,parental level of education,lunch,test preparation course,DP score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
df.head()

,lunch,DP score,reading score,writing score,Gender_female,Gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,test preparation course_completed,test preparation course_none
0,standard,72,72,74,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1
1,standard,69,90,88,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
2,standard,90,95,93,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1
3,free/reduced,47,57,44,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1
4,standard,76,78,75,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1

In [ ]:
df.head()

,lunch,DP score,reading score,writing score,Gender_female,Gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,test preparation course_completed,test preparation course_none
0,standard,72,72,74,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1
1,standard,69,90,88,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
2,standard,90,95,93,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1
3,free/reduced,47,57,44,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1
4,standard,76,78,75,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1

In [ ]:
df.head()

,lunch,DP score,reading score,writing score,Gender_female,Gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,test preparation course_completed,test preparation course_none
0,standard,72,72,74,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1
1,standard,69,90,88,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
2,standard,90,95,93,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1
3,free/reduced,47,57,44,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1
4,standard,76,78,75,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1

In [ ]:
df.head()

,DP score,reading score,writing score,Gender_female,Gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,test preparation course_completed,test preparation course_none,lunch_free/reduced,lunch_standard
0,72,72,74,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
1,69,90,88,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1
2,90,95,93,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
3,47,57,44,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0
4,76,78,75,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load the dataset

# Preprocessing the data
X = df.drop('DP score', axis=1)
y = df['DP score']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the decision tree model
tree_model = DecisionTreeRegressor(random_state=42)

# Fit the model on the training data
tree_model.fit(X_train, y_train)

# Evaluate the model on the testing data
y_pred = tree_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error: ',rmse)

Root Mean Squared Error:  7.915175298121956

In [ ]:
prediction=tree_model.predict(X_test)
from sklearn.metrics import r2_score
r2_score=(y_test,prediction)
print(r2_score)

(521    91
737    53
740    80
660    74
411    84
       ..
408    52
332    62
208    74
613    65
78     61
Name: DP score, Length: 200, dtype: int64, array([85., 42., 74., 75., 69., 88., 59., 52., 81., 64., 48., 47., 63.,
       40., 76., 75., 64., 44., 47., 40., 78., 42., 63., 41., 78., 88.,
       72., 49., 29., 42., 65., 77., 53., 83., 86., 50., 72., 67., 66.,
       32., 78., 65., 77., 62., 89., 60., 69., 26., 89., 67., 65., 77.,
       69., 46., 63., 70., 90., 59., 69., 88., 59., 74., 66., 46., 87.,
       62., 68., 58., 69., 86., 70., 84., 64., 46., 61., 81., 87., 73.,
       59., 64., 69., 39., 79., 70., 76., 53., 74., 65., 76., 30., 80.,
       82., 66., 66., 23., 68., 72., 65., 82., 51., 76., 70., 70., 58.,
       75., 71., 46., 71., 65., 53., 42., 65., 57., 53., 77., 62., 55.,
       59., 73., 86., 53., 58., 95., 63., 70., 73., 57., 65., 46., 71.,
       78., 85., 55., 93., 63., 38., 81., 87., 81., 42., 45., 66., 58.,
       54., 91., 54., 47., 86., 50., 77., 68., 74., 68., 65., 82., 65.,
       45., 71., 78., 51., 68., 60., 68., 58., 97., 79., 43., 90., 52.,
       77., 89., 68., 82., 75., 69., 32., 41., 63., 82., 64., 59., 67.,
       82., 61., 94., 68., 71., 60., 71., 87., 62., 58., 66., 75., 57.,
       42., 70., 72., 66., 66.]))

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load the dataset


# Preprocessing the data
X = df.drop('DP score', axis=1)
y = df['DP score']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the random forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_model.fit(X_train, y_train)

# Evaluate the model on the testing data
y_pred = rf_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 6.0501848676157906

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load the dataset

# Preprocessing the data
X = df.drop('writing score', axis=1)
y = df['writing score']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the random forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_model.fit(X_train, y_train)

# Evaluate the model on the testing data
y_pred = rf_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 4.507048512233901

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load the dataset


# Preprocessing the data
X = df.drop('reading score', axis=1)
y = df['reading score']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the random forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_model.fit(X_train, y_train)

# Evaluate the model on the testing data
y_pred = rf_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 4.543810955574627

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Load the dataset

# Preprocessing the data
X = df.drop('DP score', axis=1)
y = df['DP score']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the decision tree model
tree_model = DecisionTreeRegressor(random_state=42)

# Create the random forest model
forest_model = RandomForestRegressor(random_state=42)

# Create the linear regression model
lr_model = LinearRegression()

# Fit the models on the training data
tree_model.fit(X_train, y_train)
forest_model.fit(X_train, y_train)
lr_model.fit(X_train, y_train)

# Evaluate the models on the testing data
tree_pred = tree_model.predict(X_test)
tree_rmse = np.sqrt(mean_squared_error(y_test, tree_pred))
tree_r2 = r2_score(y_test, tree_pred)

forest_pred = forest_model.predict(X_test)
forest_rmse = np.sqrt(mean_squared_error(y_test, forest_pred))
forest_r2 = r2_score(y_test, forest_pred)

lr_pred = lr_model.predict(X_test)
lr_rmse = np.sqrt(mean_squared_error(y_test, lr_pred))
lr_r2 = r2_score(y_test, lr_pred)

print('Decision Tree RMSE:', tree_rmse)
print('Decision Tree R2 Score:', tree_r2)
print('Random Forest RMSE:', forest_rmse)
print('Random Forest R2 Score:', forest_r2)
print('Linear Regression RMSE:', lr_rmse)
print('Linear Regression R2 Score:', lr_r2)

Decision Tree RMSE: 7.915175298121956
Decision Tree R2 Score: 0.7425396073944761
Random Forest RMSE: 6.0501848676157906
Random Forest R2 Score: 0.8495727064354532
Linear Regression RMSE: 5.393993869732839
Linear Regression R2 Score: 0.8804332983749567